/* coustom fonts */
@font-face {
    font-family: MyFont;
    src: url("../public/fonts/WorkSans-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: MyFont;
    src: url("../public/fonts/WorkSans-Black.ttf");
    font-weight: 900 ;
}
@font-face {
    font-family: MyFont;
    src: url("../public/fonts/WorkSans-Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: MyFont;
    src: url("../public/fonts/WorkSans-Regular.ttf");
    font-weight:400;
}
@font-face {
    font-family: MyFont;
    src: url("../public/fonts/WorkSans-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: MyFont;
    src: url("../public/fonts/WorkSans-SemiBold.ttf");
    font-weight: 700;
}
/*==== coustom fonts=== */